{% extends "OCAdminBundle:User:form.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
<h3 class="text-center">Modficition des informations concernant l'administrateur </h3>
   
	  <div class="well">
           {% form_theme form 'bootstrap_3_horizontal_layout.html.twig'  %}
		     {{form(form)}}
         </form>
		</div>
{% endblock %}