
{% extends "OCAdminBundle:Default:base.html.twig" %}
{% block body %}
<form action="" method="get">
    <label for="username">Login :</label>
    <input type="text" id="username" name="_username" value="" />

    <label for="password">Mot de passe :</label>
    <input type="password" id="password" name="_password" />
    <br />
    <input type="submit" value="Connexion" />

  </form>
    {% endblock %}
