{# src/OC/PlatformBundle/Resources/views/Advert/form.html.twig #}
<!DOCTYPE html>
<html>
<head>
	<title>QUESTION </title>
</head>
<body>
		<h3>QUESTION </h3>

		<div class="well">
		  {{ form(form) }}
		</div>
</body>
</html>
